* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  height: 2000px;
  /* background-image: url("asset/bg.jpg"); */
  backdrop-filter: blur(2px);
  background-color: #e8fff7;
}

/* ==================navbar start====================== */
#navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background: #013220;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.logo {
  height: 100%;
  padding-top: 10px;
}

.menu {
  width: 40%;
}

.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 300;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu ul li a:hover {
  color: aqua;
}

/* ======================navbar end========================= */

#beranda {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("asset/img.hero/landscape-lake-surrounded-by-hills-covered-greenery-blue-sky-daytime.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.gradasi {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.kolom-slogan {
  width: 40%;
  height: 500px;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.kolom-foto {
  width: 45%;
  height: 500px;
  z-index: 1;
  position: relative;
}

.kolom-slogan h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
}
.kolom-slogan h1 {
  font-family: "Righteous", sans-serif;
  font-size: 5.7rem;
  letter-spacing: 5px;
  color: white;
}

.slideshow1 {
  width: 200px;
  height: 320px;
  background-image: url("asset/img.hero/airterjun.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50px;
}
.slideshow2 {
  width: 300px;
  height: 150px;
  background-image: url("asset/img.hero/tugusarangan.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 100px;
  left: 265px;
}
.slideshow3 {
  width: 150px;
  height: 220px;
  background-image: url("asset/img.hero/Sejarah-Telaga-sarangan-dan-kuliner-khasnya.jpg.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 265px;
  left: 265px;
}
.slideshow4 {
  width: 250px;
  height: 120px;
  background-image: url("asset/img.hero/tealgawahyu.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 335px;
}
.slideshow5 {
  width: 280px;
  height: 140px;
  background-image: url("asset/img.hero/genilagit.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 265px;
  left: 430px;
}

/*galeri*/
.galery {
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image {
  float: left;
  flex: 1 0 100px;
  margin: 15px;
}
.image img {
  padding: 4px;
  border-radius: 15px;
  height: auto;
}

/*form*/
.teks{
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
.teks, .Form{
  color: rgba(1, 50, 32, 1);
  font-family: "Poppins", sans-serif;
  display: inline-block;
  flex: 1;
  margin: 15px;
}
.form-background{
  height: 350px;
  display: flex;
  margin: 15px;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  background-color: aquamarine;
  border-radius: 5px;
}
.form-box{
  margin-left: 5px;
  width: 50rem;
  height: 300px;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  background-color: white;
}
.Form{
  margin-left: 5px;
  display: block;
  flex-direction: column;
}
.isi{

  margin-top: 5px;
  font-weight: bold;
}
.input{
  padding: 5px;
  margin-top: 5px;
  display: inline;
  border-radius: 15px;
}
.isi-Feedback{
  padding: 5px;
  margin-top: 5px;
  width: 300px;
  height: 100%;
}
